@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1E293B;
  --secondary: #16A34A;
  --backgroundDefault: #F8FAFC;
  --backgroundPaper: #FFFFFF;
  --textPrimary: #1E293B;
  --textSecondary: #475569;
  --info: #0EA5E9;
  --warning: #FACC15;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #1E293B;
    --secondary: #16A34A;
    --backgroundDefault: #0F172A;
    --backgroundPaper: #1E293B;
    --textPrimary: #F8FAFC;
    --textSecondary: #CBD5E1;
    --info: #38BDF8;
    --warning: #FACC15;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}