@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6f0ff;
  --foreground: #003366;
  --primary: #003f7f;
  --secondary: #007bff;
  --backgroundDefault: #f0f8ff;
  --backgroundPaper: #ffffff;
  --textPrimary: #003366;
  --textSecondary: #00509e;
  --info: #007bff;
  --warning: #ffc107;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001f3f;
    --foreground: #ffffff;
    --primary: #003f7f;
    --secondary: #007bff;
    --backgroundDefault: #00274d;
    --backgroundPaper: #003f7f;
    --textPrimary: #e6f0ff;
    --textSecondary: #99c2ff;
    --info: #66b3ff;
    --warning: #ffc107;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}